name: MySql CI build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  config: Release
  disable_test_parallelization: true
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  db_pwd: P@55w0rd

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 30

    strategy:
        matrix:
            mysql-image:
                - mysql:8.0
            framework:
                - net8.0
                - net9.0
                - net10.0

    name: MySql ${{ matrix.mysql-image }} ${{ matrix.framework }}

    services:
      mysql:
        image: ${{ matrix.mysql-image }}
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: ${{ env.db_pwd }}
          MYSQL_DATABASE: weasel_testing
          MYSQL_USER: weasel
          MYSQL_PASSWORD: ${{ env.db_pwd }}
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
    - uses: actions/checkout@v6

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      env:
        weasel_mysql_testing_database: "Server=localhost;Port=3306;Database=weasel_testing;Uid=weasel;Pwd=${{ env.db_pwd }};"
      run: dotnet test src/Weasel.MySql.Tests/Weasel.MySql.Tests.csproj --no-build --verbosity normal --framework ${{ matrix.framework }}
