name: SQLite CI Build

on:
  push:
    branches: [ master, sqlite ]
  pull_request:
    branches: [ master ]

env:
  config: Release
  disable_test_parallelization: true
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

jobs:
  build:

    runs-on: ${{ matrix.os }}
    timeout-minutes: 15

    strategy:
      # Test on multiple operating systems since SQLite is cross-platform
      matrix:
        os:
          - ubuntu-latest
          #- windows-latest
          #- macos-latest
        framework:
          - net8.0
          - net9.0
          - net10.0

    name: SQLite ${{ matrix.os }} ${{ matrix.framework }}

    steps:
    - uses: actions/checkout@v6

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
          dotnet-version: |
              8.0.x
              9.0.x
              10.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration ${{ env.config }}

    - name: Test
      run: dotnet test src/Weasel.Sqlite.Tests/Weasel.Sqlite.Tests.csproj --no-build --verbosity normal --configuration ${{ env.config }} --framework ${{ matrix.framework }}
