name: MSSQL CI build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  config: Release
  disable_test_parallelization: true
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  db_pwd: P@55w0rd

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 30

    strategy:
        # define the test matrix
        matrix:
            mssql-image:
                - mcr.microsoft.com/mssql/server:2019-latest
                - mcr.microsoft.com/mssql/server:2022-latest

    name: MSSQL ${{ matrix.mssql-image }}

    services:
      sqlserver:
        image: ${{ matrix.mssql-image }}
        ports:
          - 1433:1433
        env:
          ACCEPT_EULA: Y
          SA_PASSWORD: ${{ env.db_pwd }}

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET 6
      uses: actions/setup-dotnet@v3
      with:
          dotnet-version: 6.0.x

    - name: Setup .NET 7
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      env:
        weasel_sqlserver_testing_database: "Server=localhost;User Id=sa;Password=${{ env.db_pwd }};TrustServerCertificate=true"
      run: dotnet test src/Weasel.SqlServer.Tests/Weasel.SqlServer.Tests.csproj --no-build --verbosity normal
