name: Publish Nugets

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
          dotnet-version: |
              8.0.x
              9.0.x
              10.0.x

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Pack Weasel.Core
      run: dotnet pack ./src/Weasel.Core/Weasel.Core.csproj -o ./artifacts --configuration Release --no-build

    - name: Pack Weasel.Postgresql
      run: dotnet pack ./src/Weasel.Postgresql/Weasel.Postgresql.csproj -o ./artifacts --configuration Release --no-build

    - name: Pack Weasel.SqlServer
      run: dotnet pack ./src/Weasel.SqlServer/Weasel.SqlServer.csproj -o ./artifacts --configuration Release --no-build

    - name: Pack Weasel.MySql
      run: dotnet pack ./src/Weasel.MySql/Weasel.MySql.csproj -o ./artifacts --configuration Release --no-build

    - name: Pack Weasel.Oracle
      run: dotnet pack ./src/Weasel.Oracle/Weasel.Oracle.csproj -o ./artifacts --configuration Release --no-build

    - name: Pack Weasel.Sqlite
      run: dotnet pack ./src/Weasel.Sqlite/Weasel.Sqlite.csproj -o ./artifacts --configuration Release --no-build

    - name: Pack Weasel.EntityFrameworkCore
      run: dotnet pack ./src/Weasel.EntityFrameworkCore/Weasel.EntityFrameworkCore.csproj -o ./artifacts --configuration Release --no-build

    - name: Publish to NuGet
      run: |
        find . -name '*.nupkg' -exec dotnet nuget push "{}" -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} --skip-duplicate \;
        # find . -name '*.snupkg' -exec dotnet nuget push "{}" -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }} \;
      shell: bash
